/* General Styles */
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5; /* Light gray background */
    font-family: Arial, sans-serif;
  }
  
  /* Login Box Styles */
  .login-box {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
  }
  
  /* Title Styles */
  .login-box h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Input Container Styles */
  .input-container {
    margin-bottom: 20px;
  }
  
  .input-container input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .input-container input:focus {
    outline: none;
    border-color: #36c24b;
    box-shadow: 0 0 5px rgba(54, 194, 75, 0.5);
  }
  
  /* Login Button Styles */
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #36c24b;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #2daa42;
  }
  
  /* Forgot Password Link Styles */
  .forgot-password-link {
    display: block;
    margin-top: 15px;
    color: #36c24b;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
  }
  
  .forgot-password-link:hover {
    color: #2daa42;
  }